<ul class="tags">
    {% for tag in tags %}
        <li class="tags__item">
            {% if tag.title.0 in filter %}
            <a id="{{ tag.value }}" class="tags__checkbox tags__checkbox_style_{{tag.color}} tags__checkbox_active" href="{% url request.resolver_match.url_name %}?filter={{ filter|cut:tag.title.0 }}"></a>
            {% else %}
            <a id="{{ tag.value }}" class="tags__checkbox tags__checkbox_style_{{tag.color}} tags__checkbox" href="{% url request.resolver_match.url_name %}?filter={{ filter|add:tag.title.0 }}"></a>
            {% endif %}
            <label class="tags__label">{{ tag.display_name }}</label>
        </li>
    {% endfor %}
</ul>


