<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title%}</title>
    {% block link %}
    {% endblock link%}
</head>
<body>
{% include 'includes/nav.html' with recipe=recipe author=author%}
{% block content %}
{% endblock content %}
{% include 'includes/footer.html' %}
{% block script %}
{% endblock script %}
</body>
</html>