{% extends "base.html" %}
{% block title %}Мои подписки{% endblock title%}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock link%}
{% block content %}
{% load recipe_filters %}
{% csrf_token %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for author in object_list %}
            <div class="card-user" data-author={{ author.id }}>
                <div class="card-user__header">
                    <h2 class="card-user__title">{{ author.get_full_name }}</h2>
                </div>
                <div class="card-user__body">
                    <ul class="card-user__items">
                        {% for recipe in author.recipe_user.all|slice:":3" %}
                            <li class="card-user__item">
                                <div class="recipe">
                                    {% load thumbnail %}
                                    {% thumbnail recipe.image "100x100" crop="center" upscale=True as im %}
                                        <a href="{% url 'recipe' recipe.id%}" class="link" target="_blank"><img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image"></a>
                                    {% endthumbnail %}
                                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.preparing_time }} мин.</p>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="card-user__item">
                            <a href="{% url 'profile' author %}" class="card-user__link link">
                                {% if author.recipe_user.all.count > 3 %}{{ author.recipe_user.all.count|recipe_cases}}{% endif %}</a>
                        </li>
                    </ul>
                </div>
                <div class="card-user__footer">
                    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "includes/paginator.html" with page_obj=page_obj paginator=paginator %}
</main>
{% endblock content %}
{% block script %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock script %}
