{% extends "base.html" %}
{% block title %}Список покупок{% endblock title%}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock link%}
{% block content %}
{% csrf_token %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    {% if counter %}
    <div class="card-list card-list_column">

        <ul class="shopping-list">
            {% for recipe in object_list %}
                <li class="shopping-list__item" data-id={{ recipe.id }}>
                    <div class="recipe recipe_reverse">
                        {% load thumbnail %}
                        {% thumbnail recipe.image "100x100" crop="center" upscale=True as im %}
                            <img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image recipe__image_big">
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.preparing_time }} мин.</p>
                    </div>
                    <a href="#" class="shopping-list__button link">Удалить</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'return_pdf' %}"><button class="button button_style_blue">Скачать список</button></a>
    </div>
    {% else %}
        <div class="tags__label"><p>Ваш список покупок пуст. Добавьте сюда что-нибудь.</p></div>
    {% endif %}

</main>
{% endblock content %}
{% block script %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock script %}